# Requirements for DBS-Lab-Project
# Install with: pip install -r requirements.txt

psycopg2-binary>=2.9
pandas>=1.5

fastapi 
uvicorn
sqlalchemy 
scikit-learn
sqlparse
streamlit
apscheduler
joblib
